configuration {
  show-icons:         true;
  /* icon-theme:         "Paper"; */
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  theme:              "/usr/share/rofi/themes/android_notification.rasi";
  modi:               "window,run,drun,ssh";
  display-drun:       "apps";
  columns: 2;
}
